.form{
    padding-right: 50px;
    padding-top: 50px;
}

.aling-center{
    text-align: center;
}

.container .link {
    margin-left: -100px;
}

.link {
    color: #7159c1;
    font-size: 18px;
    text-decoration: none;
    font-weight: bold;
    transition: opacity 0.2s;
}

.link:hover {
    color: #333;
    text-decoration: none;
    filter: brightness(90%);
}
    