.new-event-container {
    width: 100%;
    max-width: 1120px;
    height: 100vh;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 90px;
}

.margin{
    margin-top: 27px;
    margin-bottom: 20px;
}

.margin h4 {
    color: blueviolet;
}

.new-event-container .content {
    width: 100%;
    padding: 96px;
    background: #f0f0f5;
    box-shadow: 0 0 100px rgba(0, 0, 0, 0.1);
    border-radius: 8px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new-event-container .content section {
    width: 100%;
    max-width: 380px;

}

.new-event-container .content section h1 {
    margin:  64px 0 32px;
    font-size: 32px;
    color: #28282b;
}

.new-event-container .content section p {
    font-size: 18px;
    color: #737380;
    line-height: 32px;
}
.p {
    font: 400 18px Roboto, sans-serif;
}

.content section p {
    margin-top: -35px;
}

.content form .select-group {
    display: flex;
}

.select-group select {
    height: 48px;
}

.select-group select + select {
    margin-left: 8px;
}

.select-group select + input {
    margin-left: 8px;
}

.content form .input-group {
    display: flex;
}

.input-group input + input {
    margin-left: 8px;
}

.content form .input-text {
    display: flex;
}

.input-text input + input {
    margin-left: 8px;
}

.content form .input-data {
    display: flex;
}

.input-data input + input {
    margin-left: 8px;
}
