body {
    font: 400 14px Roboto, sans-serif;
    background: #f0f0f5;
    -webkit-font-smoothing: antialiased;
}

button:hover {
    display: inline-block;
    text-align: center;
    text-decoration: none;
}


.aling{
    padding-top: 150px;
}
.form-control {
    width: 250px;
    position: relative;
    margin-left: 1000px;
    margin-top: -110px;
}

.link {
    margin-left: 1225px;
    margin-top: -120px;
}
.menu {
    background: #7159c1;
}

.back-link {
    margin-bottom: 50px;
}

.form-aling {
    margin-top: 120px;
}